$black: black;
$dark-gray: #323232;
$gray: gray;
$light-gray: lightgray;
$lighter-gray: #f1f1f1;
$red: red;

.d-none {
  display: none !important;
}

.bg-light-gray {
  background-color: $light-gray;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url('./img/background.jpg');
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', serif;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  max-width: 550px;
  padding: 1rem;
}

#root {
  background-color: white;
  border-radius: 7px;
  box-shadow: rgb(0 0 0 / 30%) 0 19px 38px, rgb(0 0 0 / 22%) 0 15px 12px;
  padding: 1.5rem;
}

h1 {
  font-family: 'Source Code Pro', monospace;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;

  span {
    color: $red;
  }
}

form {
  border: none;
  display: flex;
  flex-direction: column;
  grid-gap: 0.666rem;

  input,
  fieldset,
  textarea,
  button {
    border: 3px solid $gray;
  }

  section#row-one {
    display: flex;
    gap: 0.5rem;
    height: 2.5rem;

    article#outer-input,
    article#outer-quantity {
      display: flex;

      label {
        order: 1;
        padding-right: 1rem;
      }

      input {
        order: 2;
        width: 100%;
      }
    }

    article#outer-input {
      width: 80%;

      input {
        padding-left: 0.5rem;
      }
    }

    article#outer-quantity {
      width: 20%;

      input {
        text-align: center;
      }
    }
  }

  section#row-two {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    fieldset {
      display: flex;
      flex-grow: 1;
      gap: 1rem;
      padding: 0.666rem;

      legend {
        padding: 0 0.5rem;
      }

      article.option {
        align-items: center;
        display: flex;
        flex: 1 1 0;
        gap: 0.25rem;
      }
    }
  }

  section#row-three {
    border: 3px solid $gray;
    position: relative;

    textarea {
      border: none; /* border is in the outer instead */
      outline: none;
      padding: 0.5rem;
      resize: none;
      width: 100%;
    }

    article#loading-overlay {
      align-items: center;
      cursor: wait;
      display: flex;
      height: 100%;
      justify-content: center;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      #loading-icon {
        color: $dark-gray;
        font-size: 1.666rem;
      }
    }
  }

  section#row-four {
    display: flex;
    gap: 1rem;
    height: 40px;
    justify-content: end;

    button#button-generate {
      order: 2;
    }

    button#button-copy {
      order: 1;
    }

    button {
      align-self: end;
      background-color: $lighter-gray;
      color: $black;
      cursor: pointer;
      flex-basis: 140px;
      font-family: 'Open Sans', serif;
      font-size: 1rem;
      font-weight: bold;
      height: 100%;
      padding: 0.25rem 0.5rem;
      text-transform: uppercase;
      transition: border 0.5s ease-in-out;

      #copy-icon,
      #generate-icon {
        color: $red;
        font-size: 1.2rem;
        margin-right: 0.5rem;
      }

      &:hover {
        border-color: $red;
      }

      &:disabled {
        border-color: $gray;
        color: $gray;
        cursor: wait;

        #copy-icon,
        #generate-icon {
          color: $gray;
        }
      }
    }
  }
}
